```{=html}

<% for (const item of items) { ;%>


  <div class="quarto-about-trestles content">
    <div class="about-entity">
      <img alt="<%= item.title %>" src="<%= item.image %>" class="about-image
    round " style="height: 14em; width: 14em;">
  <header id="title-block-header" class="quarto-title-block default">
  <div class="quarto-title">
  <b class="title"><%= item.title %></b>
  </div>
  <div>
    <div class="description">
      <%= item.description %>
    </div>
  </div>
  <div class="quarto-title-meta">
    </div>
  </header>
      <div class="about-links">
        <% if (item.email) { %>
          <a href="mailto:<%= item.email %>" class="about-link" rel="" target="">
            <i class="bi bi-envelope-fill"></i>
             <span class="about-link-text"></span>
          </a>
          <%} else { %>
            <% } %>
        <% if (item.github) { %>
          <a href="https://github.com/<%= item.github %>" class="about-link" rel="" target="">
            <i class="bi bi-github"></i>
             <span class="about-link-text"></span>
          </a>
          <%} else { %>
            <% } %>        
        <% if (item.bluesky) { %>
          <a href="https://bsky.app/profile/<%= item.bluesky %>" class="about-link" rel="" target="">
            <i class="bi bi-bluesky"></i>
              <span class="about-link-text"><i class="fa-brands fa-bluesky" aria-label="bluesky"></i></span>
          </a>
          <%} else { %>
            <% } %>   
        <% if (item.orcid) { %>
          <a href="https://orcid.org/<%= item.orcid %>" class="about-link" rel="" target="">
            <i class="bi bi-orcid"></i>
            <span class="about-link-text"><i class="fa-brands fa-orcid" aria-label="orcid"></i></span>
         </a>
          <%} else { %>
            <% } %>   
        <% if (item.www) { %>
          <a href="<%= item.www %>" class="about-link" rel="" target="">
            <i class="bi bi-house-fill"></i>
            <span class="about-link-text"></span>
          </a>
          <%} else { %>
            <% } %>      
      </div>

      
<% } %>

```