
```{=html}


<div class="list grid" style="column-gap: 10px;">

<% for (const item of items) { %>
  
  <% for (const tile of item.tiles) { %>

    <% if (tile.axis === "foodwebs") { %>

    <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%= metadataAttrs(tile) %>>

        <img src="../../<%- tile.image %>" alt="<%- tile.name %>" class="card-img-top"/>

        <div style="text-align: center">
            <b><%- tile.name %></b>
            <br>
            <% if (tile.role) { %>
            <small><%- tile.role %></small>
            <br>
            <%} %>
            <% if (tile.description) { %>
            <small><%- tile.description %></small>
            <br>
            <%} %>
            <div class="socialWrap">
                <% if (tile.email) { %>
                    <a href="mailto:<%= tile.email %>" class="bi bi-envelope-fill"></a>
                <%} %>
                <% if (tile.github) { %>
                    <a href="https://github.com/<%= tile.github %>" class="bi bi-github"></a>
                <%} %>
                <% if (tile.www) { %>
                    <a href="<%= tile.www %>" class="bi bi-house-fill"></a>
                <%} %>  
                <% if (tile.twitter) { %>
                    <a href="https://x.com/<%= tile.twitter %>" class="bi bi-twitter"></a>
                <%} %>    
                <% if (tile.bluesky) { %>
                    <a href="https://bsky.app/profile/<%= tile.bluesky %>" style="text-decoration:none" class="about-link" rel="" target="">
                        <i class="bi bi-bluesky"></i>
                        <span><i class="fa-brands fa-bluesky"></i></span>
                    </a>
                <%} %>       
                <% if (tile.orcid) { %>
                    <a href="https://orcid.org/<%= tile.orcid %>" style="text-decoration:none" class="about-link" rel="" target="">
                        <i class="bi bi-orcid"></i>
                        <span><i class="fa-brands fa-orcid" aria-label="orcid"></i></span>
                    </a>
                <%} %>   
            </div>
        </div>
    </div>

    <% } %>
  <% } %>
<% } %>
</div>

```