```{=html}
<div class="teaching">
    <% for (const course of items) { %>
    <div class="course-entry">
        <div class="logo">
            <img src="<%= course.logo %>" alt="<%= course.title %>" title="<%= course.title %>" />
        </div>
        <div class="body">
            <p class="course-title">
                <%= course.title %>
            </p>
            <p class="course-details">
                <ul class="course-links">
                    <% for (const links of course.links) { %>
                    <% if (links.url) { %>
                    <li><a href="<%= links.url %>"> <i class="bi bi-<%= links.icon %>"></i> <%= links.name %></a></li>
                    <% } else { %> 
                    <li class="no-link"> <%= links.name %></li>
                    <% } %>
                    <% } %>
                <br>
            </p>
            <p class="course-description"><%= course.description %></p>

        </div>
    </div>
    <% } %>
</div>
```