```{=html}
<div class="teaching">
    <% for (const course of items) { %>
    <div class="course-entry">
        <div class="logo">
            <img src="<%= course.logo %>" alt="<%= course.title %>" title="<%= course.title %>" />
        </div>
        <div class="body">
            <p class="course-title">
                <%= course.title %>
            </p>
            <p class="course-details">
                <% if (course.github) { %>
                    <button type="button" class="btn btn-outline-primary">
                        <a href="https://github.com/<%= course.github %>" class="bi bi-github" style="text-decoration:none"> Github</a>
                    </button>
                <%} %>
                <% if (course.preprint) { %>
                    <button type="button" class="btn btn-outline-primary">
                        <a href="<%= course.preprint %>" class="bi bi-book" style="text-decoration:none"> Preprint</a>
                    </button>
                <%} %>
                <% if (course.url) { %>
                    <button type="button" class="btn btn-outline-primary">
                        <a href="<%= course.url %>" class="bi bi-house-fill" style="text-decoration:none"> Home</a>
                    </button>
                <%} %>
                <br>
            </p>
            <p class="course-description"><%= course.description %></p>

        </div>
    </div>
    <% } %>
</div>
```